body{
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font: 300;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-style: normal;
    font-size: 32px;
    color: coral;
}

canvas{
    /* margin: 10px; */
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

#txt{
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}